.sidebar {
  background: #fff;
  width: 240px;               /* fixed width like YouTube */
  height: calc(100vh - 60px); /* below navbar */
  position: fixed;
  top: 60px;
  left: 0;
  padding: 20px 10px;
  overflow-y: auto;
}

/* Scrollbar (optional but classy) */
.sidebar::-webkit-scrollbar {
  width: 6px;
}
.sidebar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

/* LINKS */
.side-link {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-radius: 10px;
  margin-bottom: 6px;
  cursor: pointer;
  transition: background 0.2s;
}

.side-link:hover {
  background: #f2f2f2;
}

.side-link img {
  width: 20px;
  margin-right: 20px;
}

.side-link p {
  font-size: 14px;
  font-weight: 500;
}

/* ACTIVE LINK */
.side-link.active {
  background: #f2f2f2;
}

.side-link.active img {
  border-bottom: none;
}

/* DIVIDER */
.sidebar hr {
  border: 0;
  height: 1px;
  background: #e5e5e5;
  margin: 12px 0;
}

/* SUBSCRIPTIONS */
.subscribed-list h3 {
  font-size: 13px;
  font-weight: 500;
  margin: 15px 12px;
  color: #606060;
}

.subscribed-list .side-link img {
  width: 26px;
  border-radius: 50%;
}

/* COLLAPSED SIDEBAR */
.small-sidebar {
  width: 72px;
}

.small-sidebar p,
.small-sidebar h3 {
  display: none;
}

.small-sidebar .side-link {
  justify-content: center;
}

.small-sidebar img {
  margin-right: 0;
}

/* MOBILE */
/*@media (max-width: 900px) {
  .sidebar {
    display: none;
  }
}*/
@media (max-width:900px){
    .sidebar{
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        background: #fff;
        z-index: 100;
        transition: left 0.3s ease;
        padding-top: 80px;
    }

    .sidebar.show{
        left: 0;
    }

    .small-sidebar{
        left: -100%;
    }
}

    .sidebar.show{
        left: 0;
    }
}
