.recommended{
    flex-basis: 30%;
}


.side-video-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.side-video-list img{
    flex-basis: 49%;
    width: 50%;
}
.vid-info{
    flex-basis: 49%;
}
.vid-info h4{
    font-size: 13px;
    margin-bottom: 5px;
}

/* Title (like YouTube) */
.vid-info h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.3;
  color: #0f0f0f;
  margin: 0;

  /* limit to 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Channel name & views */
.vid-info p {
  font-size: 12px;
  color: #606060;
  margin: 0;
}

/* Hover effect */
.side-video-list:hover h4 {
  color: #000;
}

@media (max-width:900px){
    .recommended{
        flex-basis: 100%;
    }
}
